@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');

/* /* *selector universal */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* selector de etiqueta */
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,0.1610576923076923) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    height: 100vh;
}

.container{
    max-width: 600px;
    margin: auto;
}

.title h1{
    text-align: center;
    font-family: Truculenta, sans-serif;
    font-weight: 900;
    background-color: snow; 
    border-radius: 30px;
    margin-bottom: 15px;
    box-shadow: 0 5px 10px -5px rgb(0,0,0 / 30%)

}
.title p{
    text-align: justify;
    font-family:Truculenta sans-serif ;
    font-weight: 400;
    margin-bottom: 20px;
}

.row_form{
    margin: 10px;
    width: 100%;
    display: flex;


}

.row_form label{
    font-family:Truculenta sans-serif ;
    font-weight: 600px;
    font-size: 16px;
    width: 30%;
    display: flex;
    align-items: center;
}

.row_form input{
    font-family:Truculenta sans-serif ;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
    height: 30px;
    padding: 8px;
    width: 70%;

}

.button_form{
    margin-top: 15px;
    font-family:Truculenta, sans-serif ;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #9c9c9c;
    width: 100%;
    background-color: #fff;

}

.button_form:hover{
    box-shadow: 0px 0px 10px 1px #109c33;
    transition: all ease-in-out;

}

.form{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}